// Colors
$color-orange: #FF7700;
$color-green: #5EFC8D;
$color-pink: #EE4266;
$color-violet: #2A1E5C;
$color-blue: #0A68FF;
$color-black: #000000;
$color-white: #FFFFFF;
$color-grey: #EEEEEE;

$color-primary: $color-orange;
$color-secondary: $color-violet;
$color-tertiary: $color-blue;

$kepler22b-colors: (
  "primary": $color-primary,
  "secondary": $color-secondary,
  "tertiary": $color-tertiary,
  "orange": $color-orange,
  "green": $color-green,
  "pink": $color-pink,
  "violet": $color-violet,
  "blue": $color-blue
);

// Grid
$grid-columns: 12;
$page-max-width: 1170px;

// Fonts
$primary-font: 'Poppins', sans-serif;
