.k-btn {
  display: inline-block;
  font-weight: 700;
  color: #000;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;

  // alternate colors
  @each $color, $value in $kepler22b-colors {
    &--#{$color} {
      background-color: $value;
      color: $color-white;
      transition: all .3s ease-in-out;

      &:hover {
        background-color: darken($value, 20%);
      }

    }
  }

}
